{% extends "auctions/layout.html" %}

{% block body %}
        <h3 style="text-align: center; text-decoration: underline;">{{cate.name}}</h3>
        {% if listings %}
            <section>
                {% for listing in listings %}
                    <a href="{% url 'listing' listing.id %}" class="link">
                        <div class="listing">
                            <div class="listimg">
                                {% if listing.img %}
                                    <img class="artimg" src="{{ listing.img }}" alt="Second Image" />
                                {% else %}
                                    <div class="artimg">
                                        <span>No Image For this Listing</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="det">
                                <span><span>{{ listing.title }}</span> -  <span>${% if listing.highestbid %}{{ listing.highestbid.amount }}{% else %}{{ listing.startprice }}{% endif %}.00</span></span>
                                <span style="text-transform: capitalize;">By {{ listing.user.username }}</span>
                                {% if listing.desc %}
                                    <p>
                                        {{ listing.desc }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </section>
        {% else %}
            <div class="emptylist emptyindex">
                <h1>There are currently no active listings.</h1>
            </div>
        {% endif %}
{% endblock %}