{% extends "auctions/layout.html" %}

{% block body %}
  <div class="createform">
    <form method="post" action="{% url 'create' %}">
      {% csrf_token %}
      <h4 style="text-align: center;">Create a Listing</h4>
      <div class="inputs">
          <input type="text" id="title" name="title" required placeholder="Title" class="cfi">
          <textarea name="{{ form.desc.name }}" id="desc" placeholder="Description"></textarea>
          <input type="url" id="img" name="img" placeholder="Image-URL" class="cfi">
          <select name="{{ form.cat.name }}" class="cfi">
            <option value="" selected disabled>Select a Category</option>
            {% for category in form.cat.field.queryset %}
              <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
          <input type="number" id="startprice" name="startprice" step="10.00" required placeholder="Starting Price($)" class="cfi">
          <input type="submit" value="Create Listing" class="cfi">
      </div>
      {% if message %}
        <div>{{ message }}</div>
      {% endif %}
    </form>
  </div>
{% endblock %}