{% load static %}
    <section id="chatroom" class="">
        <header>
            <div class="logo">
                <div class="img-pfp">
                    <div class="pfp-img">
                        <img alt="no img" class="pfp" id="room-header-img">
                    </div>
                </div>
                <h3 id="chat_name" class="capitalize"></h3>
            </div>
            <nav>
                <div class="navs" id="main-nav">
                    <button class="nav" id="chat-nav" onclick="changemainview('recent-container')"><i class="fa-solid fa-circle-left fa-2xl"></i></button>
                </div>
            </nav>
        </header>
        <div id="chat-messages-cont" class="chat-messages-cont flex scroll">
            <div id="messages" class="messages">
            </div>
        </div>
        <form id="chat-form" class="chat-form">
            {% csrf_token %}
            <!-- <input type="text"  name="message" /> -->
            <textarea name="message" id="" cols="30" rows="10" required class="chat-input" placeholder="Type a message..."></textarea>
            <button type="submit" class="chat-send nobgbtn"><i class="fa-solid fa-paper-plane fa-2xl"></i></button>
        </form>
    </section>
    <script src="{% static 'chat/chat.js' %}"></script>